nt to ignore some files that are too large to be git pushed.
# Specifically, all our output files may contain unusually large objects that we don't want to push to github

**/fz

**/t

*.root

*.uan

#*.txt

*.dat

*.csv

*#

*~

slurm*

core.*

/GA/Runs/

gitpush.sh

gitpushforce.sh

